<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>    
        <nav>
            <ul class="sidebar">
                <li onclick=closeSidebar()><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="/faqs">FAQ</a></li>
                <li><a href="/contact" class="{% if request.path == '/contact' %}active{% endif %}">Contact</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Sign-up</a></li>
            </ul>
            <ul>
                <li><a href="/">Sustainability</a></li> 
                <li class="hideOnMobile"><a href="/faqs">FAQs</a></li>
                <li class="hideOnMobile"><a href="/contact">Contact</a></li>
                <li class="hideOnMobile"><a href="/login">Login</a></li>
                <li class="hideOnMobile"><a href="/sign-up">Sign-up</a></li>
                <li class = "menu-btn" onclick= showSidebar()><a href=""><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>

            <script src="{{ url_for('static', filename='index.js') }}"></script> 

        </nav>
        
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        

    </body>
</html>